.card{
    // $greeny: rgb(42, 198, 37); 
    // background-color: $greeny;
    position: relative;
    left:30%;
    width: 500px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card-title{
    font-size: 20px;
}
.card-subtitle{
    font-size: 15px;
    margin-top: 20px;
}