<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<h1>Star Wars Characters name</h1>


<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" (click)="paginated.onPrevious()">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <input #paginated="pagination11" (onChangeEventEmit)="onPageChange($event)" appPagination type="number" min="1" max="5" value="1">
            <li class="page-item">
                <a class="page-link" aria-label="Next" (click)="paginated.onNext()" >
                    <span class="sr-only">Next</span>
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row">

        <mat-card class="example-card" *ngFor="let na of starWarPaginatedObs | async ">
        <!-- <mat-card class="example-card" *ngFor="let na of testObs| async "> -->
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{na.name}}</mat-card-title>
                <!-- <mat-card-title>{{d.name}}</mat-card-title> -->
                <mat-card-subtitle>Height: {{na.height}} </mat-card-subtitle>
                <mat-card-subtitle>Mass: {{na.mass}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-raised-button color="primary" routerLink="more/{{d}}"
                    (click)="sendDataToMoreInfo(d)">MoreInfo</button>
                </mat-card-actions> -->
                <button mat-raised-button color="primary" [routerLink]="['more']" [state]="na">
                    <!-- <button mat-raised-button [routerLink]="['more']" [state]="d"> -->
                    More Info
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
